absl-py==2.1.0
aiohttp==3.9.3
aioprometheus==23.12.0
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
async-timeout==4.0.3
attrs==23.2.0
Brotli @ file:///tmp/abs_ecyw11_7ze/croots/recipe/brotli-split_1659616059936/work
certifi @ file:///croot/certifi_1707229174982/work/certifi
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cmake==3.28.3
contourpy==1.2.0
cupy-cuda11x==12.1.0
cycler==0.12.1
datasets==2.17.1
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
einops==0.7.0
evaluate==0.4.1
exceptiongroup==1.2.0
fastapi==0.109.2
fastrlock==0.8.2
filelock @ file:///croot/filelock_1700591183607/work
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2023.10.0
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645438755360/work
GPUtil==1.4.0
h11==0.14.0
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.20.3
idna==3.6
importlib_resources==6.3.0
interegular==0.3.3
Jinja2 @ file:///croot/jinja2_1706733616596/work
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
lark==1.1.9
lit==17.0.6
llvmlite==0.42.0
MarkupSafe==2.1.5
matplotlib==3.8.3
megablocks==0.5.1
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack==1.0.7
multidict==6.0.5
multiprocess==0.70.16
nest-asyncio==1.6.0
networkx @ file:///croot/networkx_1690561992265/work
ninja==1.11.1.1
nltk==3.8.1
numba==0.59.0
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=6094eeedd869502faa0fd0a8c5ad3a70c5779be06ddd1feb7627e5c212fac420
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.7.0.84
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.19.3
nvidia-nvtx-cu11==11.8.86
openai==0.27.8
orjson==3.9.14
outlines==0.0.34
packaging==23.2
pandas==2.2.1
pillow @ file:///croot/pillow_1707233021655/work
prometheus_client==0.20.0
protobuf==4.25.3
psutil==5.9.8
pyarrow==15.0.0
pyarrow-hotfix==0.6
pydantic==2.6.1
pydantic_core==2.16.2
pynvml==11.5.0
pyparsing==3.1.2
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
PyYAML @ file:///croot/pyyaml_1698096049011/work
quantile-python==1.1
ray==2.9.2
referencing==0.33.0
regex==2023.12.25
requests @ file:///croot/requests_1707355572290/work
responses==0.18.0
rouge-score==0.1.2
rpds-py==0.18.0
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
sentence-transformers==2.5.0
sentencepiece==0.2.0
six==1.16.0
sniffio==1.3.0
stanford-stk==0.7.0
starlette==0.36.3
sympy @ file:///croot/sympy_1701397643339/work
threadpoolctl==3.3.0
tokenizers==0.15.2
torch==2.1.2+cu118
tqdm==4.66.2
transformers==4.38.0
triton==2.1.0
typing_extensions @ file:///croot/typing_extensions_1705599297034/work
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.27.1
uvloop==0.19.0
vllm @ file:///home/mathieu/vllm-0.3.3%2Bcu118-cp39-cp39-manylinux1_x86_64.whl#sha256=d272f3ada92f6ed3bf63d628b7eaf8869b95153575ec459228ce7ea654888efd
watchfiles==0.21.0
websockets==12.0
xformers==0.0.23.post1+cu118
xxhash==3.4.1
yarl==1.9.4
zipp==3.18.1
